@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom map marker fix if needed */
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #09090b;
}

/* Dark mode scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}